/* CSS Document */

body{
    display: flex;
    flex-direction: column;

    
}


/*Header for all pages*/
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}



.right-side, .left-side{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;


}

.header-image{
    width: 1.5rem;
    height: 1.5rem;
}
.header-icon{
    width: 2rem;
    height: 2rem;
}

/*body for the index page*/
.index-body{
    
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    flex-grow:1;
    display: flex;
    flex-direction: column;
}

/*
.allb{
    /*background-color: #6c3d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
*/

.footer{
    display: flex;
    justify-content:space-between;
    background-color: #d8d7d7;
    color: rgb(43, 43, 43);
    padding: 1rem;
    position:fixed;
    bottom: 0;
    width: 96%;
}

.footer-text{
    margin: 0;
    font-size: 0.9rem;
    text-decoration: none;
    text-align: left;
}