/* CSS Document */

body{
    display: flex;
    flex-direction: column;

    
}


/*Header for all pages*/
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}



.right-side, .left-side{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;


}

.right-side{

}

.left-side{

}

.header-image{
    width: 1.5rem;
    height: 1.5rem;
}
.header-icon{
    width: 2rem;
    height: 2rem;
}

/*body for the index page*/
.body{
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

